name: Deploy Shared Infrastructure

on:
  push:
    branches:
      - main
      - feature/infra-setup # for debug
    paths:
      - "infra/shared/**"
      - ".github/workflows/deploy-shared.yml"
  pull_request:
    types: [closed]
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/GitHubActionsOidcRole-Team11
          aws-region: ap-northeast-1

      - name: Deploy CloudFormation
        run: |
          aws cloudformation deploy \
            --template-file infra/shared/template.yml \
            --stack-name team11-shared-stack \
            --capabilities CAPABILITY_NAMED_IAM
